<div class="body">
    <div class="row">
      <div class="col-xl-3">
        <app-siderbar></app-siderbar>
      </div>
      <div class="col-xl-9" id="contl">
        <div id="cubo">
          <div class="header text-white">
            <h3>Bienvenidos al VRSO Virtual Registry of Social Organizations</h3>
          </div>
          <div class="card-body">
            <div class="card-header1 bg-dark">
              <div class="teditar">
                <br />
                <p class="card-header text-start text-warning">
                  CREAR USUARIO / Modificar
                </p>
              </div>
              <hr />
              <div class="card-body-1">
                <div class="row" id="rolbuscar">
                  <div class="col-sm-6">
                    <label>Nombre:</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Ingrese su nombre completo"
                      id="nombrerol"
                    />
                  <br></div>
                  <div class="col-sm-6">
                    <label>Apellidos:</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Ingrese su apellido completo"
                      id="nombrerol"
                    />
                  </div>
                  <div class="col-sm-6 text-start">
                      <label>Número de celular:</label><br />
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Ingrese su nombre completo"
                        id="nombrerol"
                      />
                    <br></div>
                    <div class="col-sm-6 text-start">
                      <label>Número de DNI:</label><br />
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Ingrese su apellido completo"
                        id="nombrerol"
                      />
                    </div>
                    <div class="col-sm-6 text-start">
                      <label>Correo electrónico:</label><br />
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Ingrese su nombre completo"
                        id="nombrerol"
                      />
                    <br></div>
                    <div class="col-sm-6 text-start">
                      <label>Contraseña:</label><br />
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Ingrese su apellido completo"
                        id="nombrerol" 
                      />
                    </div>
                    
                    <div>
                    <div class="col text-end align-middle"><br><hr>
                      <a routerLink="/crear-usuario" class="btn btn-light">Cancelar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="#" class="btn btn-primary">Guardar</a>
                    </div>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  