<div class="sidebar">
    <a class="imagen"
      ><img src="/assets/logo1.png" width="180" height="150"
    /></a><br><br>
    <ul>
      <li>
        <a routerLinkActive="active" routerLink="/inicio-admin"><i class="bi bi-house-door-fill"></i> Inicio</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/registrar-empleado"><i></i>Registrar un empleado</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/roles"><i></i>Roles</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/modificar-empleados"><i></i>Modificar Empleados</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/crear-usuario"><i></i>Crear usuario</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/parametros"><i></i>Parametros</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/organizaciones"><i></i>Organizaciones</a>
      </li>
      <br><br>
        <div class="botones">
            <i class="bi bi-facebook">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
            <i class="bi bi-instagram">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
            <i class="bi bi-twitter"></i>
        </div>
      <br><br>
      <li>
        <p class="text-white">
          @2022 <font color="#198754">Municipalidad de Chaclacayo</font>, 856,
          Av. Nicolás de Ayllón, Chaclacayo.
        </p>
      </li>
    </ul>
  </div>
