<div class="body">
  <div class="row">
    <div class="col-sm-3">
      <app-siderbar></app-siderbar>
    </div>
    <div class="col-sm-9" id="fondo">
      <br><br><br><br>
      <ul>
        <li>
          <a routerLink="/registrar-empleado"
            ><button class="cuadrado1">Registar Empleado</button></a
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a routerLink="/roles"><button class="cuadrado2">Roles</button></a
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a routerLink="/modificar-empleados"
            ><button class="cuadrado3">Modificar Empleados</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a routerLink="/crear-usuario"
            ><button class="cuadrado4">Crear Usuario</button></a
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a routerLink="/parametros"
            ><button class="cuadrado5">Parametros</button></a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
