<div class="body">
    <div class="row">
      <div class="col-xl-3">
      <app-siderbar></app-siderbar>
      </div>
      <div class="col-xl-9" id="contl">
        <div id="cubo">
          <div class="header text-white">
            <h3>Bienvenidos al VRSO Virtual Registry of Social Organizations</h3>
          </div>
          <div class="card-body">
            <div class="card-header1 bg-dark">
              <div class="teditar">
                <br />
                <p class="card-header text-start text-warning">EMPLEADOS REGISTRADOS</p>
              </div>
              <p class="text-start">
                Para poder modificar un empleado registrado,seleccione el lapiz para poder modificar los datos del empleado.
                Y si desea eliminar el empleado, seleccione la accion borrar para eliminar un empleado.Tambien puede buscar 
                los empleados por si nombre y rol.
              </p>
              <hr />
              <div class="card-body-1">
                <div class="card-header row" id="rolbuscar">
                  <div class="col-sm-5 text-start">
                    <label>Nombre:</label><br />
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Ingrese el nombre del Empleado"
                      id="nombrerol"
                    />
                  </div>
                  <div class="col-sm-5 text-start">
                    <label>Rol:</label><br />
                    <select class="form-select " list="browsers">
                      <option>Mesa de Partes</option>
                      <option>Gerencia de Desarrollo Social</option>
                      <option>Subgerencia de participacion vecinal</option>
                      <option>Junta directiva</option>
                    </select>
                  </div>
                  <div class="col-sm-2">
                    <br />
                    <button
                      routerLink="/inicio-admin"
                      class="btn btn-outline-light"
                    >
                    <i class="bi bi-search"></i>&nbsp;&nbsp; Buscar
                    </button>
                  </div>
                </div>
                <br />
                <div class="card-header3 bg-dark">
                  <table class="table text-center align-middle">
                    <thead class="titutab">
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">ROL</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Steven</td>
                        <td>Mesa de Partes</td>
                        <td>Sthevencarujualca@gmail.com</td>
                        <td>
                          <button class="btn btn bg-success" routerLink="/modificar-empleados/modificar-empleados-modificar">
                            <i class="bi bi-pencil-fill"></i>
                          </button>&nbsp;&nbsp;
                          <button class="btn btn bg-danger">
                            <i class="bi bi-trash-fill"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>Enrique</td>
                        <td>Gerencia de Desarrollo Social</td>
                        <td>Enriquematencio@gmail.com</td>
                        <td>
                          <button class="btn btn bg-success" routerLink="/modificar-empleados/modificar-empleados-modificar">
                            <i class="bi bi-pencil-fill"></i>
                          </button>&nbsp;&nbsp;
                          <button class="btn btn bg-danger">
                            <i class="bi bi-trash-fill"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>Janampa</td>
                        <td>Subgerencia de participaciones vecinal</td>
                        <td>Anthonyjanampa@gmail.com</td>
                        <td>
                          <button class="btn btn bg-success" routerLink="/modificar-empleados/modificar-empleados-modificar">
                            <i class="bi bi-pencil-fill"></i>
                          </button>&nbsp;&nbsp;
                          <button class="btn btn bg-danger">
                            <i class="bi bi-trash-fill"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>Lovato</td>
                        <td>Subgerencia de participaciones vecinal</td>
                        <td>lovatohuaman@gmail.com</td>
                        <td>
                          <button class="btn btn bg-success" routerLink="/modificar-empleados/modificar-empleados-modificar">
                            <i class="bi bi-pencil-fill"></i>
                          </button>&nbsp;&nbsp;
                          <button class="btn btn bg-danger">
                            <i class="bi bi-trash-fill"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  